@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.efeitoAnimado{
    visibility: hidden;
}
body{
    background-image: url("coffe.png");
    background-repeat: no-repeat;
    background-size: 1400px;
    background-attachment: fixed;
}
div.partePrincipal{
    margin: 10px;
}
div.detalhe{
    background-color: rgba(48, 6, 6, 0.76);
}
img, .h3{
    display: inline-flex;
}
.h3{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 43px
}
div.menu{
    background-color: rgba(0, 0, 0, 0.644);
    margin-left: 500px;
    width: 500px; 
    height: 50px;
    position: absolute;
    top: 20px;  
    padding: 5px;
    border-radius: 12px;
}
div.meuMenu{
    position: absolute;
    left: 470px;
    top: 8px;
    font-size: 40px;
}
nav{
    margin-left: 40px;
}
ul{
    margin-right:30px ;
    display: flex;
}
.entrar{
    position: absolute;
    left: 730px;
    background-color: coral;
    padding: 7px;
    border-radius: 20px;
}
li{
    flex: auto;
    display: block;
    margin-inline: 12px;
}
a{
    text-decoration: none;
    color: black;
}
.a{
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 2px;
    text-decoration: none;
    color: wheat;
    transition: 0.5s;
}
.a:hover{
    transition: 0.5s;
    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.produtos{
    margin: 50px;
    padding: 4px;
}
.lugarDosProdutos{
    backdrop-filter: blur(8px);
    background-color: rgba(116, 53, 37, 0.575);
    border-radius: 12px;
    margin: 12px;
    padding: 50px;
    transition: 1s;
}
.seções{
    text-align: center; 
    padding: 30px;
}
.arrumadinhos{
    margin: 30px;
    display: flex;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
}
.seções{
    background-color: rgba(12, 11, 11, 0.767);
    height: 60px;
    border-radius: 12px 30px;
    position: sticky;
    top: 0;
    right: 0;
}
.partes{
    margin: 10px;
    border-radius: 12px;
    transition: 1s;
}
.partes:hover{
    background-color: rgba(88, 25, 25, 0.596);
    transition: 1s;
    transform: rotate3d(1, 1, 1, -10deg);
    cursor: pointer;
}
h4{
    text-align: center;
}



/* area do footer */
.ultimaParte{
    margin: 20px;
    padding: 12px;
    
}
.parte{
    margin: 10px;
    padding: 50px;
    background-image: url("https://img.freepik.com/fotos-gratis/pilha-de-3d-popular-social-media-logos_1379-881.jpg");
    background-repeat: no-repeat;   
    background-size: 1370px 900px;
    border-radius: 12px;
}
.primeiraArea{
    margin: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-around;
}
.area1{
    margin: 10px;
    padding: 6px;
    display: inline-flex;
}
.icones{
        font-size: 18px;
        padding: 5px;
        font-family: "Roboto", sans-serif;
        font-weight: 900;
        font-style: normal;
}
.voltarTopo{
    margin: 30px;
}
.back-to-top{
    transition: 1s;
    margin: 12;
    padding: 5px;
}
.back-to-top:hover{
    transition: 1s;
    border-radius: 17px;
    background-color: rgba(0, 0, 0, 0.555);
}

